<p style="color: green"><%= notice %></p>

<%= render @foldero%>
<% @doc = Document.all %>
<div>
  <%= link_to "Edit this folder", edit_folder_path(@foldero) %> |
  <%= link_to "Back to folders", folders_path %>
<%= Document.where(:folder_id => params[:id]).pluck(:title) %>
  <%= button_to "Destroy this folder", @foldero, method: :delete %>
</div>
