<div id="folders">
<div class="p-16 overflow-x-auto">
<p style="color: green"><%= notice %></p>
<table class="table table-compact w-full">
    
    <tbody>

  </tbody> 
  </table>
</div>
</div>
<div id="documents">
<div class="p-16 overflow-x-auto">
  <table class="table table-compact w-full">
    <thead>
      <tr>
        <th></th> 
        <th>Title</th> 
        <th>Folder</th> 
        <th>Type</th> 
        <th>Tags</th>
        <th>Details</th> 
        <th>Delete</th>
      </tr>
    </thead> 
    <tbody>
    <% @folders = Folder.all%>
  <% @folders.each do |folder| %>
  <div id="<%= dom_id folder %>">

      <tr>
        <th>📂</th> 
        <td><%= link_to folder.name, folder%></td>
        <td>TRUE</td>
        <td>File folder</td>
        <td>None</td>
        <td><%= link_to "View Details", edit_folder_path(folder) %></td>
        <td><%= button_to "Delete folder", folder, method: :delete %></td>
      </tr>
     </div>
  <% end %>
  <% @documents.each do |document| %>
  <div id="<%= dom_id document %>">
<% @root = Folder.where(:id => 1).pluck(:id)%>
<% if @root.include? document.folder_id%>
      <tr>
        <th>📑</th> 
        <td><%= link_to document.title, document_path(document)%></td> 
        <!-- <td><%= document.description %></td>  
        -->
        <td><%= (Folder.where(:id => document.folder_id).pluck(:name)).to_s %></td> 
        <td><%= ObjType.where(:id => document.obj_type_id).pluck(:doctype).to_s%><%= document.file.source_blob.content_type %></td> 
        <td><%= Tag.where(:id => document.tag_id).pluck(:tag).to_s%></td>
        <td>View Details</td> 
        <td><%= button_to "Delete", document, method: :delete %></td>
      </tr>
   <% end %>
     </div>
  <% end %>
  
      </tbody> 
  </table>
</div>
</div>